en-core-web-md @ https://github.com/explosion/spacy-models/releases/download/en_core_web_md-3.6.0/en_core_web_md-3.6.0-py3-none-any.whl#sha256=1618fc62e7aedc2b778caa3ea6e9c8280beac3b83fe7b93316cbb9e8f3abe7c5
en-core-web-sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.6.0/en_core_web_sm-3.6.0-py3-none-any.whl#sha256=83276fc78a70045627144786b52e1f2728ad5e29e5e43916ec37ea9c26a11212
spacy==3.6.0
spacy-legacy==3.0.12
spacy-loggers==1.0.4
pypdf==3.17.2
textacy==0.13.0
cohere~=4.19.2
qdrant-client>=1.2
PyYAML==6.0.1
numpy==1.26.4
sentence-transformers
torch>=1.11.0
transformers>=4.34.0,<5.0.0
scikit-learn
scipy
huggingface-hub>=0.15.1